#exp {
    background-image: url("../images/Experience.png");
    position: relative;
}

.swiper {
	width: 60vw;
	height: 50vh;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #535961;
	background-color: rgba(255, 255, 255, 0.6);
}
  
.swiper-slide-active {
	background-color: rgba(255, 255, 255, 1);
}

.swiper-slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.content {
	margin-top: 50px;
	margin-left: 5vw;
	margin-right: 5vw;
}

.content a {
	color: rgb(50, 102, 214);
}

#fwd {
	background-image: url("../images/fwd.png");
}

#hkpc {
	background-image: url("../images/hkpc.png");
}

#csa {
	background-image: url("../images/csa.png");
}

#breed {
	background-image: url("../images/breed.png");
}

#aiesec {
	background-image: url("../images/aiesec.png");
}

@media  (min-width: 200px) and (max-width: 500px) {
	.swiper {
		width: 75vw;
		height: 250px;
	}

	.content {
		margin-top: 0px;
	}

	.swiper-slide {
		font-size: 12px;
	}
}