#home {
    background-image: url("../images/Home.png");
}

svg {
    height: 175px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

path {
    stroke-dasharray: 10936.873046875px;
    stroke-dashoffset: 10936.873046875px;
    animation: LineAnimation 3.5s ease-in-out alternate infinite;
}

@keyframes LineAnimation {
    to {
        stroke-dashoffset: 0px;
    }
}

@media  (min-width: 200px) and (max-width: 500px) {
    svg {
        height: 100px;
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }   
}